@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   }
   
   body {
       background-color: rgb(255, 255, 255);
       font-family: 'Nunito', sans-serif;
   
   }
   
   header {
       background-color: rgb(0, 0, 0);
       padding: 10px
   }
   
   .flex-container {
       display: flex;
       justify-content: space-between;
       align-items: center;
       gap: 3rem;
   }
    
   
   
   header nav li {
       display: inline;
   }
   
   header img {
       width: 100px;
   }
   
   header input {
       margin-left: 10px;
   padding: 4px 10px;
   border-radius: 20px;
   width: 100px;}
   
   header i {
       width: 20px;
   }
   header i:hover {
      color: rgb(255, 0, 0);
   }
   header nav li a {
       color: rgb(255, 255, 255);
       padding: 5px;
   }
   header nav li a:hover{
       color: rgb(255, 0, 0);
   }
   
   main {
       padding: 20px;
   }
   
   video {
       width: 100%;
   }
   footer {
       padding: 20px;
       background-color: black;
       color: white;
   }
   
   section {
       margin-bottom: 4rem;
   }
   .flex-container {
       display: flex;
       justify-content: space-between;
       gap: 2rem;
   }
   
   .flex-item {
       flex: 1;
   }
   #featured img{
       display: block;
       width: 100%;
       aspect-ratio: 5/6;
       object-fit: cover;
   }
figure {
    position: relative;
}
figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
}
#categorieen img{
width: 100%;
}
footer {
    padding: 5vw 10vw;
    background-color: #111;
    color: #ffffff;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
footer i {
    margin-left: 1ch;
    font-size: 1.6rem;
}

footer i:hover {
    transform: scale(1.1);
}
footer a{
    color: #ffffff;
}